@{
    ViewData["Title"] = "UserForm";
}
@section DevelopmentEnvironment {
    <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.metro.min.css" />
    <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
    <script src="~/lib/kendo-ui/js/cultures/kendo.culture.ru-RU.min.js"></script>
    <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
}

<br />
<br />
<h1>Регистрация пользователя</h1>
<form method="post">
    <label>Логин:</label><br />
    <input type="text" name="login" required/><br /><br />
    <label>Пароль:</label><br />
    <input type="password" name="password" required/><br /><br />
    <label>Почта:</label><br />
    <input type="email" name="email" required/><br /><br />
    <label>Дата рождения:</label><br />
    @(Html.Kendo().DatePicker()
                              .Name("dateOfBirth")
                              .Value("10/10/1980")
    )<br />
    <br />
    <label>Страна:</label><br />
    @(Html.Kendo().AutoComplete()
          .Name("countries")
          .Filter("startswith")
          .Placeholder("Выберите страну...")
          .BindTo((List<string>)ViewData["Countries"])
    )
    <br /><br />

    <input type="submit" value="Отправить" />
</form>


